In [1]:
import pandas as pd
import numpy as np

cast = ['Chris Evans', 'Tom Holland', 'Chris Hemsworth', 'Robert Downey Jr.', 'Scarlett Johansson', 'Elizabeth Olsen']
bday = ['June 13, 1981', 'June 1, 1996', 'August 11, 1983', 'April 4, 1965', 'November 22, 1984','February 16, 1989' ]
role = ['Captain America', 'Spiderman', 'Thor', 'Ironman', 'Black Widow', 'Scarlet Witch']

avengers = {
    'Cast' : cast,
    'Birthdays': bday,
    'Role': role
}

bday_avengers = pd.DataFrame(avengers)

bday_avengers

                 Cast          Birthdays             Role
0         Chris Evans      June 13, 1981  Captain America
1         Tom Holland       June 1, 1996        Spiderman
2     Chris Hemsworth    August 11, 1983             Thor
3   Robert Downey Jr.      April 4, 1965          Ironman
4  Scarlett Johansson  November 22, 1984      Black Widow
5     Elizabeth Olsen  February 16, 1989    Scarlet Witch